<div class="loader-bg" *ngIf="isLoading">
  <div class="loader"></div>
</div>

<div class="container" *ngIf="!isLoading">
  <div class="col-xl-8 offset-xl-2 col-md-12 registerBox">
    <h3 class="text-center">{{title}}</h3>
    <form [formGroup]="registerForm" (ngSubmit)="verifyForm()">
      <div class="row form-group clearfix">
            <div class="col-md-4 col-12">
              <label for="firstName">First Name</label>
              <input type="text" appValidationLabel
              id="{{formContent?.controls?.firstName}}"
              [formControlName]="formContent?.controls?.firstName"
              [formErrorsArr]="formErrorsArr"
              [fieldInfo]="fieldInfoMsgArr?.firstName"
              (formErrorsCount)='formErrorsEvent($event)'
              class="form-control" autofocus />
            </div>
            <div class="col-md-4 col-12">
              <label for="middleName">Middle Name</label>
                <input type="text" appValidationLabel
                id="{{formContent?.controls?.middleName}}"
                [formControlName]="formContent?.controls?.middleName"
                [formErrorsArr]="formErrorsArr"
                [fieldInfo]="fieldInfoMsgArr?.middleName"
                (formErrorsCount)='formErrorsEvent($event)'
                class="form-control" />
            </div>
            <div class="col-md-4 col-12">
              <label for="lastName">Last Name</label>
                <input type="text" appValidationLabel
                id="{{formContent?.controls?.lastName}}"
                [formControlName]="formContent?.controls?.lastName"
                [formErrorsArr]="formErrorsArr"
                [fieldInfo]="fieldInfoMsgArr?.lastName"
                (formErrorsCount)='formErrorsEvent($event)'
                class="form-control" />
            </div>
      </div>      
      <div class="row form-group clearfix">
          <div class="col-md-4 col-12">
            <label for="emailId">Email ID</label>
              <input type="text" appValidationLabel
              id="{{formContent?.controls?.emailId}}"
              [formControlName]="formContent?.controls?.emailId"
              [formErrorsArr]="formErrorsArr"
              [fieldInfo]="fieldInfoMsgArr?.emailId"
              (formErrorsCount)='formErrorsEvent($event)'
              class="form-control" />
          </div>    
          <div class="col-md-4 col-12">
            <label for="mobile">Mobile No</label>
            <input type="text" appValidationLabel
            id="{{formContent?.controls?.mobile}}"
            [formControlName]="formContent?.controls?.mobile"
            [formErrorsArr]="formErrorsArr"
            [fieldInfo]="fieldInfoMsgArr?.mobile"
            (formErrorsCount)='formErrorsEvent($event)'
            class="form-control" />
          </div> 
          <div class="col-md-4 col-12">
            <label for="umail">Password</label>
            <input type="password" appValidationLabel
            id="{{formContent?.controls?.password}}"
            [formControlName]="formContent?.controls?.password"
            [formErrorsArr]="formErrorsArr"
            [fieldInfo]="fieldInfoMsgArr?.password"
            (formErrorsCount)='formErrorsEvent($event)'
            class="form-control" />
          </div>  
      </div>
      <div class="row form-group clearfix">
        <div class="col-12 text-center">
            <button class="btn btn-primary" type="submit" appFormSubmit>{{formContent?.btnName}}</button>
        </div>
      </div>  
    </form>
  </div>
</div>